@charset "utf-8";
/* simplify width and height calculations*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body {
    margin: 0;
    color: #4B4B4B;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1em;
    background-image: url(../assets/222.jpg);
    background-color: rgba(33,41,50,1.00);
}
#wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    background-color: lightsteelblue;
}
h1, h2 {
    color: #263644;
    font-style: normal;
    font-weight: 600;
}
h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    margin-top: 0.5em;
    font-size: 2.5em;
}
a {
    font-weight: bold;
    text-decoration: none;
}
a:link{
    color: #6B190D;
}
a:visited{
    color: #7D1E0A;
}
a:hover, a:active, a:focus{
	color: #7F3300;
	text-decoration: underline;
}
#menulink{
    text-align: center;
    margin: 0;
    background-color: #1E1E1E;
}
#menulink a{
	color: white;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
#navlinks{
    width: 100%;
	max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
	background-color: #000000;
    background-color: rgba(0,0,0,0.65);
	position: static;
	-webkit-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
#navlinks.displayed{
    top: 148px;
    z-index: 1;
    opacity: 1;
}
#navlinks.start{
	display: none;
}
#navlinks.collapsed{
	top: –12em;
    opacity: 0;
}
#navlinks a{
	display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 400;
    text-decoration: none;
}
#navlinks a:hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage{
    color: #F68979;
}
main, aside {
    margin-left: 4%;
    margin-right: 4%;
}
#hero img{
	max-width: 100%;
	display: block;
}
main figure{
	width: 400px;
    max-width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
main figure img{
	max-width: 100%;
}
main figure figcaption {
	display: block;
    margin-top: 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
}
aside figure{
	width: 300px;
    max-width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
aside figure img{
	max-width: 100%;
}
aside figure figcaption {
	display: block;
    margin-top: 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
}

.grayscale {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
#hero p {
    color: #B0C4DE;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Source Sans Pro";

}
aside figure {
    height: 59px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #5B1112;
    color: white;
    font-size: 0.8em;
    text-align: center;
}
#wrapper video {
    width: 100%;
}
#txt{
	list-style: none;
	font-size: 24px;
}
.fonts{
	font-size: 30px;
	color: white;
}

@media (min-width: 700px){
    #menulink {
        display: none;
    }
	navlinks{
		max-width: 1000px;
        position: static;
        background-color: transparent;
	}
	#navlinks.collapsed{
        opacity: 1;
    }
	#navlinks a{
		width: 20%;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        float: left;
        color: #1E1E1E;
	}
    header {
        overflow: hidden;
    }
	#hero p {
    width: 32%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    top: 293px;
    left: 8px;
    color: #2B1361;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
    background-color: rgba(20,199,233,0.43);
	}
	#hero{
		position: relative;
	}
   main {
    width: 60%;
   }
   aside {
    width: 28%;
    margin-left: 0%;
   }
	main, aside{
       margin-top: 30px;
       margin-bottom: 30px;
       float: left;
       font-size: 0.875em;
	}
	footer{
		clear: left;
	}

}

@media (min-width:900px){
    .floatright {
     	margin-right: 0px;
        margin-left: 10px;
        float: right;
    }
	.floatleft{
		margin-right: 10px;
        margin-left: 0px;
        float: left;

	}
}
